#header {
    width: 20%;
    height: 100vh;
    background-color: #070b0e;

    div {
        .pofile-container {
            text-align: center;

            img {
                margin: 15px auto -20px;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

            .text-light {
                font-weight: 600;
                font-size: x-large;
                text-decoration: none;
                color: whitesmoke;
            }

            .social-links {
                .m5 {
                    margin: 8px;
                    color: #f8efef;
                }

                margin-bottom: 5px;
            }
        }


        ul {
            border-top: 1px solid #4c4545;
            list-style-type: none;
            padding: 0;
            text-decoration: none;

            li {
                width: 100%;
                margin: 0 auto;
                padding: 5px 0px;

                .nav-link {
                    text-decoration: none;
                    color: rgb(190, 167, 167);

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 5px 0 5px 15px;
                    margin: 2px 0;
                }
            }

            li:hover {
                width: 100%;
                background-color: #111a22
            }
        }
    }
}