.about-container {
    padding: 1rem;
    background-color: #f7f7f1;

    .about-content {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media only screen and (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        .about-subheading {
            margin: 10px 10px 10px 20px;

            @media only screen and (max-width: 768px) {
                margin: 0;
            }

            .bio-data {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;

                @media only screen and (max-width: 768px) {
                    flex-wrap: wrap;
                }

                ul {
                    margin: 0px;

                    li {
                        list-style-type: none;
                        padding: 10px;

                    }
                }

            }
        }

    }
}

.about-text {
    line-height: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1rem 0;
}