#Students {
    background-color: white;
    position: relative;

    .student-container {
        padding: 1rem;

        .s-button {
            position: absolute;
            right: 1rem;
            top: 2rem;
        }

        .student-content {
            padding-top: 1rem;

            .student-category {
                padding-bottom: 1rem;

                ul>li {
                    display: inline-block;
                    background-color: #b6eeef;
                    border-radius: 1rem;
                    padding: 0.3rem 0.8rem;
                    margin: 0 0.5rem 0 0;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    list-style-type: none;
                    color: #4e4e5f;
                }
            }

            .student-list {

                //show list on mobile`
                @media only screen and (max-width: 768px) {
                    display: none;
                }
            }

            // background-color:red;
            .student-card {
                display: flex;
                justify-content: center;

                //show card on mobile
                @media only screen and (min-width: 768px) {
                    display: none;
                }
            }
        }
    }
}